{% extends "mySite/base.html" %}
{% load static %}

{% block title %}register{% endblock %}

{% block content %}

<main class="bg-white pr-3">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
        <register1 class="bg-violet-300 flex grow flex-col w-full pl-20 pr-14 py-12 items-end max-md:max-w-full max-md:px-5">
          <h1 class="text-blue-950 text-6xl max-w-[764px] mt-28 max-md:max-w-full max-md:text-4xl max-md:mt-10">Добро пожаловать!)</h1>
          <div class="text-blue-950 text-center text-4xl max-w-[402px] mt-[745px] mb-3 max-md:mt-10">для покупки билетов <a class="underline" href="{% url 'login' %}">Войдите</a> или <a class="underline" href="{% url 'register' %}">зарегистрируйтесь</a></div>
        </register1>
      </div>
      <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0">
        <register2 class="bg-amber-100 flex grow flex-col justify-center w-full px-16 py-12 items-end max-md:max-w-full max-md:px-5">
          <div class="flex w-[649px] max-w-full flex-col items-center mr-14 mt-44 mb-60 max-md:mr-2.5 max-md:my-10">
            <h2 class="text-yellow-900 text-4xl whitespace-nowrap max-md:max-w-full">Зарегистрироваться</h2>
            <div class="self-stretch mt-32 max-md:max-w-full max-md:mt-10">
              <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
                <div class="flex flex-col items-stretch w-[24%] max-md:w-full max-md:ml-0">
                  <div class="flex flex-col items-stretch mt-6 max-md:mt-10">
                    <!-- <div class="text-yellow-900 text-3xl">почта</div>
                    <div class="text-yellow-900 text-3xl mt-16 max-md:mt-10">телефон</div>
                    <div class="text-yellow-900 text-3xl mt-14 max-md:mt-10">никнейм</div> -->
                  </div>
                </div>
                <div class="flex flex-col items-stretch w-[76%] ml-5 max-md:w-full max-md:ml-0">
                  <div class="flex grow flex-col items-stretch max-md:max-w-full max-md:mt-10">
                    <form class="register__form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <!-- <input type="text" id="email" class="border bg-white flex shrink-0 h-[51px] flex-col rounded-lg border-solid border-black max-md:max-w-full" aria-label="Email" />
                    <input type="text" id="phone" class="border bg-white flex shrink-0 h-[51px] flex-col mt-9 rounded-lg border-solid border-black max-md:max-w-full" aria-label="Phone" />
                    <input type="text" id="nickname" class="border bg-white flex shrink-0 h-[51px] flex-col mt-9 rounded-lg border-solid border-black max-md:max-w-full" aria-label="Nickname" /> -->
                    <div class="text-black text-2xl mt-10 max-md:max-w-full">уже есть аккаунт? <a class="underline" href="{% url 'login' %}">Войдите</a></div>
                    <button class="text-white text-center text-2xl whitespace-nowrap bg-violet-500 justify-center items-stretch mt-10 px-3.5 py-4 rounded-3xl max-md:max-w-full">Зарегистрироваться</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </register2>
      </div>
    </div>
</main>

</form>
{% endblock %}

