{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    <title>
        {% block title %}{% endblock %} — Тикетон
    </title>

</head>
<body class="font-sans">

    {% include 'mySite/header.html' %}

    <div class="main">
        {% block content %}{% endblock %}
    </div>


    {% include 'mySite/footer.html' %}

    

</body>
</html>