{% load static %}
{% load static tailwind_tags %}

<header class="bg-violet-500 flex items-stretch justify-between gap-5 pl-7 pr-20 rounded-sm max-md:flex-wrap max-md:px-5">
  <div class="flex items-start justify-between gap-5 max-md:max-w-full max-md:flex-wrap max-md:justify-center">
    <a href="{% url 'mySite:index' %}" class="w-20">
      <img src="{% static '/img/билет.png' %}" class=""/>
    </a>

    <input class="bg-white self-center flex w-[610px] shrink-0 max-w-full h-14 flex-col my-auto rounded-3xl" type="text">
    <a href="" class="text-blue-900 text-center text-3xl bg-zinc-300 self-center justify-center items-stretch my-auto px-4 py-5 rounded-3xl">поиск</a>
    <a href="" class="text-blue-900 text-3xl bg-zinc-300 self-center justify-center items-stretch my-auto pl-7 pr-4 py-4 rounded-3xl max-md:pl-5">фильтр</a>
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'view_profile' %}" class="text-indigo-950 text-4xl self-center grow whitespace-nowrap my-auto">профиль</a>
    <a href="{% url 'logout' %}" class="text-indigo-950 text-4xl self-center grow whitespace-nowrap my-auto">Выйти</a>
  {% else %}
    <a href="{% url 'login' %}" class="text-indigo-950 text-4xl self-center grow whitespace-nowrap my-auto">Войти</a>
    <a href="{% url 'register' %}" class="text-indigo-950 text-4xl self-center grow whitespace-nowrap my-auto">Зарегистрироваться</a>
  {% endif %}
    
</header>