{% extends "mySite/base.html" %}
{% block title %}index{% endblock %}

{% block content %}


<div
  class="bg-white flex flex-col justify-center items-center px-16 py-12 max-md:px-5"
>
  <div
    class="flex w-full max-w-[1440px] flex-col items-stretch mt-11 mb-32 max-md:max-w-full max-md:my-10"
  >
  {% for bench in benches %}
  <div class="mt-24 max-md:max-w-full max-md:mt-10">
	  <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
		<div
		  class="flex flex-col items-stretch w-[28%] max-md:w-full max-md:ml-0"
		>
		  <img class="aspect-[1.04] object-contain object-center w-[341px] overflow-hidden shrink-0 max-w-full grow max-md:mt-10"
		  src="{{ bench.get_avatar_url }}" alt="">
		</div>
		<div
		  class="flex flex-col items-stretch w-[72%] ml-5 max-md:w-full max-md:ml-0"
		>
		  <div
			class="bg-fuchsia-200 grow w-full pl-9 pr-20 pt-12 pb-7 rounded-[62px] max-md:max-w-full max-md:mt-10 max-md:px-5"
		  >
			<div
			  class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
			>
			  <div
				class="flex flex-col items-stretch w-[27%] max-md:w-full max-md:ml-0"
			  >
				<div class="flex flex-col items-stretch max-md:mt-10 ">
				  <a href="{% url 'benches:bench_detail' bench.id %}" class="text-black text-3xl whitespace-nowrap">Название: {{ bench.name }} <br><br> Цена: {{ bench.price }} тенге</a>
				  <div class="text-black text-3xl mt-8 ">Дата: {{ bench.created_date }}</div>
				  <div class="text-black text-3xl mt-6 ">Адрес: {{ bench.district }}</div>
				</div>
			  </div>
			  <div
				class="flex flex-col items-stretch w-[73%] ml-5 max-md:w-full max-md:ml-0"
			  >
				<div
				  class="bg-zinc-100 flex w-[619px] shrink-0 max-w-full h-[149px] flex-col mt-24 mx-auto rounded-xl max-md:mt-10"><p class="text-center">{{ bench.deskription }}</p></div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
	{% endfor %}
  </div>
</div>

{% endblock content %}

